# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
env/
venv/
.venv/
*.env
# Ignore your Firebase private key (don’t upload to GitHub)
mana-oori-matalu-firebase-adminsdk-fbsvc-8001155175.json
